{% extends 'base.html' %}

{% block title %}
    About
{% endblock%}

{%block content%}
    <div class="container " style="text-align: center; padding-bottom: 19vh">
    <h2>What is Vaccination Card Checker?</h2>
    <p>
        Vaccination Card Checker is a small,
        straightforward application that examines the validity of a vaccination card.
        It is absolutely free to use and quite straightforward to navigate.
        Simply enter your VaccinationCard ID in the field provided and click the Search button.
        It indicates whether the Vaccination Card exist and authentic.
        At times, correct anticipatory judgment is impossible and must be stated.
        Not Found because your vaccination card has not yet been recorded in our database; nevertheless,
        you can Register and we will verify that your vaccination card is valid.
    </p>
    </div>
{% endblock %}